@media (max-width: 885px) {
    .contact__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact__colomn {
        padding-left: 4.5em;
        margin: 0;
    }
    .intro__name {
        font-size: 32px;
    }
    .job__title {
        font-size: 11px;
        letter-spacing: 2.5px;
    }
}

@media (max-width: 750px) {
    .contact__me {
        padding: 4px 12px;
        font-size: .9rem;
    }
    .contact__me::before {
        display: none;
    }
    .logo__wrapper {
        margin-right: 0;
        align-self: center;
    }
    .nav__list {
        height: 40px;
    }
    .menu {
        flex-direction: column;
        justify-content: center;
    }
    .nav__list-item {
        margin: 0 35px;
    }
    .photo {
        width: 55px;
        height: 55px;
        margin-right: 1rem;
    }
    .intro__name {
        font-size: 30px;
    }
    .intro__wrapper {
        text-align: center;
    }
    .projects {
        padding-bottom: calc(5rem - 20px);
    }
    .projects__inner {
        flex-direction: column;
        align-items: center;
    }
    .projects__item {
        width: 49%;
        margin-bottom: 20px;
    }
    .empty__prj {
        height: 413px;
    }
    /* ****** */
    .description {
        background-color: rgb(0 0 0 /90%);
    }
    .contact__list {
        padding: 2em 0 2em;
    }
    .contacts {
        padding: 16vh 0 0;
    }
}

@media (max-width: 480px) {
    .name__wrapper {
        padding-left: 5px;
    }
    .job__title {
        font-size: 10px;
        letter-spacing: 2.6px;
    }
    .item__link {
        font-size: 15.5px;
    }
    .home__title {
        font-size: 50px;
    }
    .nav__list-item {
        margin: 0 20px;
    }
    .colomn__item {
        padding: 1.4rem .4rem;
        width: 250px;
        font-size: 14px;
    }
    .projects__item {
        width: 78%;
    }
    .contacts {
        padding: 10vh 0;
    }
}